.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*


# Node
node_modules/**
npm-debug.log

# Python
python/venv/**
python/.venv/**
python/**/__pycache__/**
python/**/*.pyc

# OS junk
.DS_Store
.env

# Dev files
.git/**
.vscode/**

**/*.env